.App {
  text-align: center;
}

.App-logo {
  height: 30px;
  align-self: start;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: white;
}

.App-link {
  color: #61dafb;
}